USE [master]
GO
/****** Object:  Database [Hackathon]    Script Date: 27-06-2025 12:42:14 ******/
CREATE DATABASE [Hackathon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hackathon', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Hackathon.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hackathon_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Hackathon_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hackathon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hackathon]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 27-06-2025 12:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[Shiftid] [int] IDENTITY(1,1) NOT NULL,
	[ShiftName] [nvarchar](20) NULL,
	[ContactNumber] [bigint] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Shiftid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftSchedules]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftSchedules](
	[ShiftScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NULL,
	[ShiftId] [int] NULL,
	[ShiftDate] [datetime] NULL,
	[ShiftStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAttendance]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAttendance](
	[StaffAttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NULL,
	[AttendanceDate] [datetime] NULL,
	[CheckInTime] [time](7) NULL,
	[CheckOutTime] [time](7) NULL,
	[Status] [nvarchar](50) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffAttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffUser]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffUser](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Mobile] [bigint] NULL,
	[RoleId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](5) NULL,
	[Email] [varchar](50) NULL,
	[Mobile] [bigint] NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Users_name]    Script Date: 27-06-2025 12:42:15 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Users_name] ON [dbo].[Users]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[createAttendance]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[createAttendance](@staffId int, @shiftDate datetime, @checkInTime time, @checkOutTime time, @status varchar(50),@description varchar(max))
as
begin
insert into StaffAttendance (StaffId, AttendanceDate, CheckInTime, CheckOutTime, Status, Description, CreatedDate, CreatedBy, UpdatedDate, UpdatedBy)
values (@staffId,@shiftDate,@checkInTime, @checkOutTime, @status, @description, GETDATE(),1, getdate(),1)
end
GO
/****** Object:  StoredProcedure [dbo].[createStaff]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[createStaff](@firstName varchar(50), @lastName varchar(50), @email varchar(50), @mobile bigint,
@roleId int)
as
begin
insert into dbo.StaffUser (FirstName, LastName, Email, Mobile,   RoleId)values
(@firstName, @lastName,@email,@mobile,@roleId);
end
GO
/****** Object:  StoredProcedure [dbo].[getLoginDetails]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getLoginDetails](@username nvarchar(50), @password nvarchar(50))
as 
set nocount on
begin
declare @return int = 0;
IF EXISTS (select 1from dbo.Users where UserName=@username and Password=@password)
begin
set @return=1;
end
select @return
end
GO
/****** Object:  StoredProcedure [dbo].[getRole]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getRole]
as
set nocount on
begin
select RoleId,RoleName from dbo.Roles;
end
GO
/****** Object:  StoredProcedure [dbo].[getStaffs]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[getStaffs]
as
begin
select StaffId, FirstName, LastName,Email,Mobile,s.RoleId, r.RoleName from dbo.StaffUser s with (nolock)
inner join Roles r with (nolock) on r.RoleId=s.RoleId
end
GO
/****** Object:  StoredProcedure [dbo].[getStaffUserByRoleId]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[getStaffUserByRoleId](@roleId int)
as
begin
select StaffId, FirstName+ ' '+LastName as StaffName from StaffUser where RoleId=@roleId;
end
GO
/****** Object:  StoredProcedure [dbo].[insertshiftschedules]    Script Date: 27-06-2025 12:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertshiftschedules](@staffId int, @shiftId int, @shiftDate datetime)
as
begin
insert into shiftschedules (StaffId, ShiftId,ShiftDate,ShiftStatus) values(@staffId,@shiftId, @shiftDate, 1);
end
GO
USE [master]
GO
